<div class="container">
  <div class="row justify-content-center m-3">
    <h2><%= t('.title') %></h2>
  </div>

    <div style="height: 20px;"></div>

  <div class="container">
    <div class="row justify-content-center my-3">
      <div class="col-2">
        <%= User.human_attribute_name(:name) %> :
      </div>
      <div class="col-4">
        <%= current_user.name %>
      </div>
    </div>
    <div class="row justify-content-center my-3">
      <div class="col-2">
        <%= User.human_attribute_name(:avatar) %> :
      </div>
      <div class="col-4">
        <%= image_tag current_user.avatar, class: 'rounded-circle', size:'30x30' %>
      </div>
    </div>
    <div class="row justify-content-center my-3">
      <div class="col-2">
        <%= User.human_attribute_name(:login) %> :
      </div>
      <div class="col-4">
        <%= current_user.role %>
      </div>
    </div>

    <div style="height: 20px;"></div>

    <div class="row justify-content-center m-3">
      <% if current_user.guest? %>
        <%= link_to t('.twitter_login'), '/auth/twitter', class: 'btn btn-primary', method: :post %>
      <% else %>
        <%= link_to t('.edit'), edit_users_profile_path, class: 'btn btn-secondary' %>
      <% end %>
    </div>

    <div class="row justify-content-center m-3">
      <%= link_to t('defaults.back'), users_projects_path(current_user) %>
    </div>
  </div>
</div>
