<!-- Promo Block -->
<section class="js-parallax u-promo-block u-promo-block--mheight-600 u-overlay u-overlay--dark text-white" style="background-image: url(<%= asset_path 'top_image.jpg' %>);">
  <!-- Promo Content -->
  <div class="container u-overlay__inner u-ver-center u-content-space">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-center">
          <p class="text-uppercase u-letter-spacing-sm mb-0"><%= t('.main') %></p>
          <h1 class="display-sm-4 display-lg-3 mb-3">We are <span class="js-display-typing"></span></h1>
        </div>
      </div>
    </div>
  </div>
  <!-- End Promo Content -->
</section>
<!-- End Promo Block -->
</header>
<!-- End Header -->

<main role="main">
  <!-- Why We? -->
  <section class="u-content-space">
    <div class="container">
      <header class="text-center w-md-50 mx-auto mb-8">
        <h2 class="h1"><%= t('.content') %></h2>
        <p class="h5"><%= t('.explain') %></p>
      </header>

      <!-- Row -->
      <div class="row justify-content-center text-center">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="display-4 text-primary mb-2">
            <i class="fa-regular fa-lightbulb"></i>
          </div>
          <h4 class="h5"><%= t('.idea') %></h4>
          <p><%= t('.idea_explain') %></p>
        </div>

        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="display-4 text-primary mb-2">
            <i class="fa-solid fa-guitar"></i>
          </div>
          <h4 class="h5"><%= t('.playing') %></h4>
          <p><%= t('.playing_explain') %></p>
        </div>
      </div>
      <div class="row justify-content-center text-center">

        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="display-4 text-primary mb-2">
            <i class="fa-solid fa-circle-nodes"></i>
          </div>
          <h4 class="h5"><%= t('.songle') %></h4>
          <p><%= t('.songle_explain') %></p>
          <%= link_to "https://api.songle.jp/", target: '_blank' do %>
            <%= t('.learn_more') %>
            <i class="fas fa-arrow-right ml-1"></i>
          <% end %>
        </div>
      </div>
      <!-- End Row -->
    </div>
  </section>
  <!-- End Why We? -->

</main>
