<%= content_for(:title, t('.title')) %>
<div class="card card-body">
  <div class="container">
    <div class="row m-3">
      <h3><%= t('.title') %></h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row m-3">
    <%= t('.main') %>
  </div>
  <div class="row m-3">
    <%= t('.method') %>
  </div> 
  <div class="row m-3">
    <%= t('.method_content') %>
  </div> 
  <div class="row m-3">
    <%= t('.measure') %>
  </div> 
  <div class="row m-3">
    <%= t('.measure_content') %>
  </div> 
  <div class="row m-3">
    <%= t('.offer') %>
  </div> 
  <div class="row m-3">
    <%= t('.offer_content') %>
  </div> 
  <div class="row m-3">
    <%= t('.claim') %>
  </div> 
  <div class="row m-3">
    <%= t('.claim_content') %>
  </div> 
  <div class="row m-3">
    <%= t('.cookie') %>
  </div> 
  <div class="row m-3">
    <%= t('.cookie_content') %>
  </div> 
  <div class="row m-3">
    <%= t('.establishment') %>
  </div> 
  <div class="row m-3">
    <%= t('.date') %>
  </div> 
  <div class="row m-3">
    <%= t('.disclaimer') %>
  </div> 
  <div class="row m-3">
    <%= t('.disclaimer_content') %>
  </div> 
  <div class="row m-3">
    <%= t('.copy_right') %>
  </div> 
  <div class="row m-3">
    <%= t('.copy_right_content') %>
  </div> 
  <div class="row m-3">
    <%= t('.link') %>
  </div> 
  <div class="row m-3">
    <%= t('.link_content') %>
  </div> 

  <div style="height: 20px;"></div>

  <div class="row justify-content-center m-3">
    <%= link_to t('.to_top'), root_path %>
  </div>
</div>
