<div class="container my-5">
  <%= form_with model: admin, url: admin_login_path do |f| %>
    <% if admin.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(admin.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
          <% admin.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row m-3">
      <div class="col-2">
        <%= f.label AdminUser.human_attribute_name(:name) %> :
      </div>
      <div class="col">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="row m-3">
      <div class="col-2">
        <%= f.label AdminUser.human_attribute_name(:password) %> :
      </div>
      <div class="col">
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>

    <div style="height: 30px;"></div>

    <div class="row m-3 justify-content-center">
    <%= f.submit t('defaults.login'), class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
