<nav class="js-navbar-scroll navbar fixed-top navbar-expand-lg bg-dark">
  <%= link_to 'SongAnalyzer', root_path, class: 'navbar-brand text-white' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse offset-lg-8" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
          <% if current_user.twitter? %>
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          プロジェクト管理
        </a>
          <% end %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to '新規プロジェクト', new_users_project_path, class: 'dropdown-item' %>
          <%= link_to 'プロジェクト一覧', users_projects_path, class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar, class: 'rounded-circle', size: '30x30' %>
          <% end %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <h6 class="dropdown-header"><%= "#{current_user.name}さん" %></h6>
          <div class="dropdown-divider"></div>
            <%= link_to 'プロフィール', users_profile_path, class: 'dropdown-item' %>
            <%= link_to 'ログアウト', logout_path, class: 'dropdown-item', method: :delete %>
        </div>
      </li>
    </ul>
  </div>
</nav>
