<div class="container float-left mt-2">
  <div class="m-3">
    <%= form_with model: @song, url: select_songs_path, id: "js-select-song-2", type: 'text/javascript' do |f| %>
      <%= f.collection_select :id, @project.songs, :id, :song_label, selected: @song.id %>
      <%= f.submit 'セット' %>
    <% end %>
  </div>
  <div class="mx-3 mb-2">
    <%= form_with model: @song, url: change_song_path(@song), id: "js-select-song" do |f| %>
      <%= f.label :url %>:
      <%= f.text_field :url %>
      <%= f.submit '楽曲更新' %>
    <% end %>
  </div>

  <div class="api-container">
    <div class="sw-extra-stats-1 col-6 d-inline-block">
      <%= render 'shared/song_stats' %>
      <%= javascript_include_tag "sw-extra-stats-2.js" %>
    </div>
    <div class="col-6 float-right" data-api="songle-widget-extra-module-1" data-url="<%= @song.url %>" id="songle-widget">
    </div>
    <script src="https://widget.songle.jp/v1/widgets.js"></script>
  </div>
</div>
