<div class="container mt-2">
      <%= form_with model: @song, url: select_songs_path, id: "js-select-song" do |f| %>
  <div class="row mb-2">
        <%= f.collection_select :id, @project.songs, :id, :song_label, { selected: @song.id }, { onchange: "selectSong($(this).val());" } %>
      <% end %>
    </div>
      <%= form_with model: @song, url: change_song_path(@song), id: "js-select-song" do |f| %>
        <%= f.hidden_field :selectid %>
  <div class="row mb-2">
        <%= f.text_field :url, id: 'target', class: 'form-control' %>
        </div>
  <div class="row mb-2">
        <%= f.submit t('defaults.set'), class: 'btn btn-primary' %>
    </div>
      <% end %>
  </div>

  <div id="analyzer-1">
    <div class="row my-3">
      <div class="sw-extra-stats-1 col-6">
        <%= render 'song_stats' %>
        <%= javascript_include_tag "sw-extra-stats-2.js" %>
      </div>
      </div>
    <div class="row justify-content-center mt-1">
      <div data-api="songle-widget-extra-module-1" data-url="<%= @song.url %>" id="songle-widget">
      </div>
      <script src="https://widget.songle.jp/v1/widgets.js"></script>
    </div>
  </div>
</div>

<script>
  function selectSong(val){
      var song_id = val;
      $('#song_selectid').val(song_id);

      $.ajax({
          url: "/select_songs",
          type: "GET",
          data: {
              song_id: song_id
            }
        })
    }
  </script>
