<div class="container">
  <div class="row justify-content-center m-3">
    <h1>Projects</h1>
  </div>

  <div class="container">
    <% if @projects.count.zero? %>
      <div class="row">
        まだプロジェクトがありません
      </div>
      <div class="row justify-content-center m-3">
        <%= link_to '新規プロジェクト作成', new_users_project_path %>
      </div>
    <% else %>
      <div class="row"> Title </div>
    <% end %>

    <% @projects.each do |project| %>
      <div class="row">
        <div class="col my-3">
          <%= project.title %>
        </div>
        <div class="col-1 my-3">
          <%= link_to 'Show', users_project_path(project) %>
        </div>
        <div class="col-1 my-3">
          <%= link_to 'Edit', edit_users_project_path(project) %>
        </div>
        <div class="col-1 my-3">
          <%= link_to 'Destroy', users_project_path(project.uuid), data: { confirm: 'Are you sure?' }, method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
</div>
