<div class="container">
  <div class="row justify-content-center m-3">
    <h2><%= t('.title') %></h2>
  </div>

  <div class="container">
    <% if @projects.count.zero? %>
      <div class="row">
        <%= t('.no_project') %>
      </div>
      <div class="row justify-content-center m-3">
        <%= link_to '新規プロジェクト作成', new_users_project_path %>
      </div>
    <% else %>
      <div class="row"><%= t('.project') %></div>
    <% end %>

    <% @projects.each do |project| %>
      <div class="row">
        <div class="col my-3">
          <%= project.title %>
        </div>
        <div class="col-2 my-3">
          <%= link_to t('.show'), users_project_path(project) %>
        </div>
        <div class="col-1 my-3">
          <%= link_to t('.edit'), edit_users_project_path(project) %>
        </div>
        <div class="col-1 my-3">
          <%= link_to t('.destroy'), users_project_path(project.uuid), data: { confirm: 'Are you sure?' }, method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
</div>
