<% content_for(:title, t('.title')) %>
<div class="container">
  <div id="select-project" class="row justify-content-center m-3">
    <%= form_with model: @project, url: select_projects_path, id: 'js-select-project' do |f| %>
      <span><%= t('.project_title') %> :</span>
      <%= f.collection_select :id, current_user.projects, :id, :title %>
      <%= f.submit t('.set'), class: "btn btn-secondary mx-2" %>
    <% end %>
  </div>
</div>

<div style="height: 10px;"></div>

<div class="container">

  <div class="analyze-field container">
    <div class="row m-3">
      <div class="analyzer-1 d-inline-block">
        <iframe src="<%= users_project_analyze_path(@project) %>" frameBorder="0" height="680px" width="500px"></iframe>
      </div>

      <div class="border-dark border-right" style="width: 20px;"></div>
      <div style="width: 20px;"></div>


      <div class="analyzer-2 float-right">
        <iframe src="<%= users_project_analyze_another_path(@project) %>" frameBorder="0" height="680px" width="500px"></iframe>
      </div>
    </div>
  </div>

  <div class="container">
    <p class="m-3">
    <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <%= t('.appear_search_form') %>
    </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <%= render 'search_field' %>

        <div class="container">
          <div id="search-field" class="m-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
