<p id="notice"><%= notice %></p>
<div class="buttons">
  <span class="new-project">
    <% if current_user.twitter? %>
      <%= link_to '新規プロジェクト', new_users_project_path %>
    <% end %>
  </span>
  <span class="edit-project">
    <%= link_to 'プロジェクト編集', edit_users_project_path(@project) %>
  </span>
</div>

<p>
<strong>project:</strong>
<%= @project.title %>
</p>

<%= link_to 'Twitter共有', "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' %>
<div>
  <%= form_with model: @song, url: select_songs_path, id: "js-select-song", local: false do |f| %>
    <%= f.collection_select :id, @project.songs, :id, :song_label %>
    <%= f.submit 'セット' %>
  <% end %>
</div>
<div class="api-container container-md">
  <div id="analyzer-1">
    <div class="sw-extra-stats-1 col-sm-6 col-lg-8 ms-4">
      <div>
        <div>Playing Time</div>
        <div class="playing-time">
          <span class="position">00:00</span>
          <span>/</span>
          <span class="duration">00:00</span>
        </div>
      </div>
      <div>
        <div>BPM</div>
        <div class="bpm">-</div>
      </div>
      <div>
        <div>Chord</div>
        <div class="chord">-</div>
      </div>
      <div>
        <div>ChordProgression</div>
        <div class="chord-progression">
          <span class="current-chord">-</span>
          <span>→</span>
          <span class="next-chord">-</span>
          <div>ChordEffect:
            <span class="chord-effect">-</span>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "sw-extra-stats-1.js" %>
    <div class="col-6 col-lg-4" data-api="songle-widget-extra-module-1" data-url="<%= @song.url %>" id="songle-widget">
    </div>
    <script src="https://widget.songle.jp/v1/widgets.js"></script>
  </div>
  <div class="horizon container-fluid pt-4">
  </div>
  <div class="analyzer-2">
  <iframe src="<%= users_project_analyze_path(@song) %>" frameBorder="0" height="400px" width="1240px">
</div>
