<p id="notice"><%= notice %></p>

<div class="container">
  <div id="select-project" class="row justify-content-center m-3">
    <%= form_with model: @project, url: select_projects_path, id: 'js-select-project' do |f| %>
      <span> Project: </span>
      <%= f.collection_select :id, current_user.projects, :id, :title %>
      <%= f.submit 'セット', class: "btn-secondary" %>
    <% end %>
  </div>

  <% if current_user.twitter? %>
    <%= link_to 'Twitter共有', "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank', id: "js-capture" %>
  <% end %>

  <div class="api-container p-2">
    <div class="m-3">
      <%= form_with model: @song, url: select_songs_path, id: "js-select-song", local: false do |f| %>
        <%= f.collection_select :id, @project.songs, :id, :song_label %>
        <%= f.submit 'セット' %>
      <% end %>
    </div>
    <div class="mx-3 mb-2">
      <%= form_with model: @song, url: change_song_path(@song), id: "js-select-song" do |f| %>
        <%= f.label :url %>:
        <%= f.text_field :url %>
        <%= f.submit '楽曲更新' %>
      <% end %>
    </div>

    <div id="analyzer-1 row">
      <div class="sw-extra-stats-1 col-6 d-inline-block">
        <%= render 'shared/song_stats' %>
        <%= javascript_include_tag "sw-extra-stats-1.js" %>
      </div>
      <div class="col-6 float-right" data-api="songle-widget-extra-module-1" data-url="<%= @song.url %>" id="songle-widget">
      </div>
      <script src="https://widget.songle.jp/v1/widgets.js"></script>
    </div>
  </div>
  <div class="border-bottom border-dark" style="height: 50px;"> </div>
  <div class="analyzer-2">
    <iframe src="<%= users_project_analyze_path(@project) %>" frameBorder="0" height="400px" width="1260px"></iframe>
  </div>
</div>

<div class="search-form m-3">
<p>
<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
  検索フォームを表示
</a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <%= form_with url: search_songs_path, local: false do |f| %>
      <%= f.label '検索ワード' %>
      <%= f.text_field :word, id: 'js_search_word' %>
      <span><%= f.submit '検索', id: 'js-song-search' %></span>
    <% end %>
    <div id="search-field">
    </div>
  </div>
</div>
</div>

