<%= form_with model: [:admin, user] do |f| %>
  <div class="container">
    <div id="error_explanation">
      <% if user.errors.any? %>
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="row my-3">
      <div class="col-2">
        <%= f.label :name %>
      </div>
      <div class="col">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="row my-3">
      <div class="col-2">
        <%= f.label :avatar %>
      </div>
      <div class="col">
        <%= f.file_field :avatar, class: 'form-control' %>
      </div>
    </div>

    <div class="row my-3">
      <div class="col-2">
        <%= f.label :role %>
      </div>
      <div class="col">
        <%= f.radio_button :role, :guest %>
        <%= f.label :guest %>
      </div>
      <div class="col">
        <%= f.radio_button :role, :twitter %>
        <%= f.label :twitter %>
      </div>
    </div>

    <div class="row justify-content-center my-3">
      <%= f.submit t('.submit'), class: 'btn btn-secondary mr-3' %>
      <%= link_to t('.destroy'), admin_user_path(@user), class: 'btn btn-danger ml-3', method: :delete %>
    </div>
  </div>
<% end %>
