<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= display_meta_tags(default_meta_tags) %>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application' %>
  </head>

  <header>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
  </header>

  <div style="height: 8px;"></div>

  <body class="bg-white py-5">
    <%= render 'shared/flash_message' %>
    <%= render 'shared/modal' %>
    <%= yield %>
  </body>

  <div style="height: 80px;"></div>

  <footer id="footer" class="fixed-bottom">
    <%= render 'shared/footer' %>
  </footer>
</html>
